.idea
*.pyc
Tablas_MDP_2018-19.xls
instances/GKD-c_7_n500_m50.txt
instances/GKD-c_8_n500_m50.txt
instances/GKD-c_9_n500_m50.txt
instances/MDG-a_21_n2000_m200.txt
instances/MDG-a_22_n2000_m200.txt
instances/MDG-a_23_n2000_m200.txt
instances/MDG-a_24_n2000_m200.txt
instances/MDG-a_25_n2000_m200.txt
instances/MDG-a_26_n2000_m200.txt
instances/MDG-a_27_n2000_m200.txt
instances/MDG-a_28_n2000_m200.txt
instances/MDG-a_29_n2000_m200.txt
instances/MDG-a_30_n2000_m200.txt
instances/SOM-b_11_n300_m90.txt
instances/SOM-b_12_n300_m120.txt
instances/SOM-b_13_n400_m40.txt
instances/SOM-b_14_n400_m80.txt
instances/SOM-b_15_n400_m120.txt
instances/SOM-b_16_n400_m160.txt
instances/SOM-b_17_n500_m50.txt
instances/SOM-b_18_n500_m100.txt
instances/SOM-b_19_n500_m150.txt
instances/SOM-b_20_n500_m200.txt
